<h4>Ajouter un commentaire</h4>
  <%= form_for([@article, @article.comments.build], remote: true) do |f| %>
  <p>
    <%= f.label :pseudo %><br>
    <%= f.text_field :commenter, class: 'comment-form-title' %>
  </p>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :body, class: 'comment-form-body' %>
  </p>
      <%= f.submit 'Publier', class: 'btn-edit' %>
<% end %>
