<h4>Ajouter un commentaire</h4>
  <%= form_for([@article, @article.comments.build], remote: true) do |f| %>
  <p>
    <%= f.label :votre_pseudo %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :commentaire %><br>
    <%= f.text_area :body %>
  </p>
      <%= f.submit %>
<% end %>
