<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="card">
          <div class="text-center">
          <h4>Editer l'article</h4>
            <%= form_for :article, url: article_path(@article), method: :patch do |f| %>

              <% if @article.errors.any? %>
                <div id="error_explanation">
                  <h2>
                    <%= pluralize(@article.errors.count, "error") %> prohibited
                    this article from being saved:
                  </h2>
                  <ul>
                    <% @article.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <p>
            <%= f.label :title %><br>
            <%= f.text_field :title, class: 'article-form-title'  %>
            </p>
            <p>
            <%= f.label :text %><br>
            <%= f.text_area :text, class: 'article-form-body-edit'  %>
            </p>
            <%= f.submit %>

        <% end %>

        <%= link_to 'Back', articles_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
