
<div class="wrapper-green">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">

<!--           <%= link_to image_tag("write-article-icon", size: "50x50"), new_article_path  %> -->

        <h3>Latest ></h3>
        <% @articles.each do |article| %>
        <div class="card-article">
          <%= link_to article_path(article) do %>
<!--           <div class="product-arrow"></div><h6><%= rand(290) %></h6> -->
            <h1><%= article.title.capitalize %></h1>
              <ul class="card-article-items">
<!--                 <li>
                  <%= article.preview %>
                </li>
                <li>
                  <%= article.author %>
                </li>
                <li>
                  <%= article.created_at.strftime("%d/%m/%Y") %>
                </li>
                <li>
                 <%= article.publisher %>
                </li> -->
                <li>
                   <i class="fa fa-comment" aria-hidden="true"></i> <%= article.comments.count %>
                </li>
                <li>
                  <i class="fa fa-bookmark"></i>
                </li>
              </ul>
          <% end %>
        </div>
        <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="card" id="maincard">
        <h3>Search ></h3>
          <form action="" class="navbar-wagon-search">
            <input type="text" class="navbar-wagon-search-input" placeholder="Search articles">
            <button type="submit" class="navbar-wagon-search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      <h3>Popular ></h3>
        <h5><a href="#">  Most popular</a> . <a href="#">See all</a></h5>
        <% @articles.reverse_each do |article| %>
        <div class="card-article-mini">
          <ul>
            <li>
            <%= link_to article_path(article) do %>
            <div class="text-center">
              <h1><%= article.title.capitalize %> </h1>
              <strong><%= article.publisher %></strong>
              <h5><%= article.created_at.strftime("%d/%m/%Y") %></h5>
            </div>
            <% end %>
            </li>
          </ul>
        </div>
      <% end %>

    </div>
  </div>
</div>
