<div class="wrapper-grey">
  <div class="container-fluid">
    <div class="row">
      <div class= "col-xs-12 col-md-8">
        <div class="card-article-header-top">
          <h3>Derniers articles</h3>
        </div>
        <% @articles.each do |article| %>
          <%= link_to article_path(article) do %>
            <div class="row">
              <div class="card-article">
                <div class="col-xs-12 col-md-4">
                  <div class="img-responsive">
                    <%= cl_image_tag article.photo.url(:card_pic) %>
                  </div>
                </div>
                <div class="col-xs-12 col-md-8">
                  <div class="card-article-content">
                    <h1><%= article.title.capitalize %></h1>
                    <h2><%= article.preview %></h2>
                    <p><%= article.created_at.strftime("%d/%m/%Y") %></p>

                      <div class="card-article-share">
                        <i class="fa fa-comment-o" aria-hidden="true"></i> <%= article.comments.count %>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          <%end %>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="card-article-header-top">
          <h3>Articles populaires</h3>
        </div>
      <% @articles.each do |article| %>
        <div class="card-article-mini">
          <ul>
            <li>
            <%= link_to article_path(article) do %>
              <h1><%= article.title.capitalize %> </h1>
              <%= cl_image_tag article.photo.url(:sidebar_pic) %>
            </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
