<div class="container">
  <div class="row">
    <div class= "col-xs-12 col-md-8 col-md-offset-2 ">
      <div class="text-center">
        <div class="btn-new-article">
          <%= link_to 'Ecrire un article', new_article_path %>
        </div>
      </div>
        <% @articles.each do |article| %>
          <div class="card">
            <div class="text-center">
              <h3><%= article.title %></h3>
              <p><%= article.text[0..55] %></p>
              <p>#<%= article.id %> // <%= article.created_at %></p>
              <%= link_to 'Voir en entier', article_path(article) %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

