
<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="card-block-header">
          <h4 class="text-center">HackerNews / Latest </h4>
        </div>
        <% get_latest_hn.each do |hn| %>
          <%= link_to "#{hn.source}" do %>
            <div class="card-article">
              <h3><%= hn.title %></h3>
            </div>
          <% end %>
        <% end %>
        <div class="pagination-controls">
          <%= paginate @hackernews %>
        </div>
      </div>

    <div class="col-md-4">
      <div class="card" id="maincard" >
        <div class="card-block-header">
          <h4 class="text-center">Search sources </h4>
        </div>
        <h5><%= link_to 'TechMeme', techmemes_path %></h5>
        <h5><%= link_to 'HackerNews', hackernews_path %></h5>
        <h5><%= link_to 'Techcrunch', techcrunches_path %></h5>
        <h5><%= link_to 'Le Wagon', wagonposts_index_path %></h5>

        <div class="card-block-header">
            <h4 class="text-center">Hand picks</h4>
        </div>
        <% @articles.reverse_each do |article| %>
        <div class="card-article-mini">
          <ul>
            <li>
            <%= link_to article_path(article) do %>
            <div class="text-center">
              <h1><strong><%= article.title.capitalize %></strong> </h1>
 <!--              <strong><%= article.publisher %></strong> -->
<!--               <h5><%= article.created_at.strftime("%d/%m/%Y") %></h5> -->
            </div>
            <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
