
<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
          <h3>Latest ></h3>
          <% @articles.each do |article| %>
          <div class="card-article">
          <%= link_to article_path(article) do %>
            <h1><%= article.title.capitalize %></h1>
            <p><%= article.author %></p>
            <p><%= article.publisher %></p>
              <p><%= article.preview %></p>
                <h6>Published : <%= article.created_at.strftime("%d/%m/%Y") %></h6>
                <h6>Comments : <%= article.comments.count %></h6>
            <% end %>
          </div>
          <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <form action="" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="Search articles">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
        <h3>Popular ></h3>
        <h5><a href="#">  Most popular</a> . <a href="#">See all</a></h5>
      <% @articles.reverse_each do |article| %>
        <div class="card-article-mini">
          <ul>
            <li>
            <%= link_to article_path(article) do %>
            <div class="text-center">
              <h1><%= article.title.capitalize %> </h1>
            </div>
            <% end %>
            </li>
          </ul>
        </div>
      <% end %>

    </div>
  </div>
</div>
