<h1>Liste des articles</h1>

<div class="btn btn-danger"><%= link_to 'Ecrire un article', new_article_path %></div>


  <% @articles.each do |article| %>

    <div class="card">
      <%= article.title %>
      <%= article.text %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Show', article_path(article) %>
      <%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>


