<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="card">
        <div class="text-center">
          <h3><%= @article.title %></h3>
          <p><%= @article.text %></p>
          <%= link_to 'Editer l\'article', edit_article_path(@article) %>
          <h4>Commentaires</h4>
            <% @article.comments.each do |comment| %>
              <p>
                <strong>Pseudo</strong>
                <%= comment.commenter %>
              </p>

              <p>
                <strong>Commentaire:</strong>
                <%= comment.body %>
              </p>
            <% end %>
          <h4>Ajouter un commentaire</h4>
          <%= form_for([@article, @article.comments.build], remote: true) do |f| %>
            <p>
              <%= f.label :votre_pseudo %><br>
              <%= f.text_field :commenter %>
            </p>
            <p>
              <%= f.label :commentaire %><br>
              <%= f.text_area :body %>
            </p>

                <%= f.submit %>

          <% end %>

          <%= link_to 'Retour', articles_path %>
          <br>
          <div class="btn btn-danger">
            <%= link_to 'Supprimer l\'article', article_path(@article),
            method: :delete,
            data: { confirm: 'Etes vous sur de vouloir supprimer l\'article ?' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
