<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="card">
          <div class="text-center">
            <h3><%= @article.title %></h3>
            <p><%= simple_format @article.text %></p>
            <%= link_to 'Edit', edit_article_path(@article), class: 'btn-edit' %>
            <%= link_to 'Delete', article_path(@article),
              method: :delete,
              data: { confirm: 'Etes vous sur de vouloir supprimer l\'article ?' }, class: 'btn-edit' %>
              <div class="comments-box">
                <h4>Commentaires</h4>
                  <% @article.comments.each do |comment| %>
                    <p>
                      <strong>Pseudo : <%= comment.commenter %> </strong>
                    </p>
                    <p>
                      <strong>Commentaire:</strong> <br>
                      <%= comment.body %>
                    </p>
                    <p>
                      <%= link_to 'Supprimer ce commentaire', [comment.article, comment],
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
                    </p>
                  <% end %>
              </div>
            <%= render 'comments/form' %>
<br>
            <%= link_to 'Retour', articles_path, class: 'btn-edit' %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
