<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="text-center">
          <%= link_to 'Retour aux Articles', articles_path %>
          <h3><%= @article.title %></h3>
          <%= image_tag(@article[:photo]) %>
          <p>Publié le <%= @article.created_at.strftime("%d/%m/%Y") %></p>
                  <div class="card-article-share">


        <h5><%= @article.preview %></h5>
                  <i class="fa fa-comment-o" aria-hidden="true">

          <%= @article.comments.count %></i>
        </div>

          <div class="article-show-text">
            <p><%= simple_format @article.text %></p>
          </div>
        </div>

        <div class="share-links">


              <a href="#" class="share-link bg-facebook">
                <i class="fa fa-facebook"></i>
              </a>


              <a href="#" class="share-link bg-twitter">
                <i class="fa fa-twitter"></i>
              </a>


              <a href="#" class="share-link bg-email">
                <i class="fa fa-envelope-o"></i>
              </a>


              <a href="#" class="share-link bg-text">
                <i class="fa fa-mobile"></i>
              </a>


        </div>

      </div>
    </div>
  </div>
</div>
