<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="card">
        <div class="text-center">
          <h3><%= @article.title %></h3>
          <p><%= @article.text %></p>
          <%= link_to 'Editer l\'article', edit_article_path(@article) %>
          <h4>Commentaires</h4>
            <% @article.comments.each do |comment| %>
              <p>
                <strong>Pseudo : <%= comment.commenter %> </strong>
              </p>
              <p>
                <strong>Commentaire:</strong> <br>
                <%= comment.body %>
              </p>
              <p>
                <%= link_to 'Supprimer ce commentaire', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>

          <%= render 'comments/form' %>

          <%= link_to 'Retour', articles_path %>
          <br>
          <div class="btn btn-danger">
            <%= link_to 'Supprimer l\'article', article_path(@article),
            method: :delete,
            data: { confirm: 'Etes vous sur de vouloir supprimer l\'article ?' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
