<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">

      <div class="text-center">
        <h3><%= @article.title %></h3>
        <p><%= @article.text %></p>
        <%= link_to 'Editer l\'article', edit_article_path(@article) %>
        <h2>Comments</h2>
          <% @article.comments.each do |comment| %>
            <p>
              <strong>Pseudo</strong>
              <%= comment.commenter %>
            </p>

            <p>
              <strong>Comment:</strong>
              <%= comment.body %>
            </p>
          <% end %>
        <h2>Add a comment:</h2>
        <%= form_for([@article, @article.comments.build]) do |f| %>
          <p>
            <%= f.label :commenter %><br>
            <%= f.text_field :commenter %>
          </p>
          <p>
            <%= f.label :body %><br>
            <%= f.text_area :body %>
          </p>
          <p>
            <%= f.submit %>
          </p>
        <% end %>

        <%= link_to 'Retour', articles_path %>
        <%= link_to 'Supprimer', article_path(@article),
        method: :delete,
        data: { confirm: 'Etes vous sur de vouloir supprimer l\'article ?' } %>
      </div>

    </div>
  </div>
</div>
