<div class="navbar-wagon navbar-wagon-fixed">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h1> STACK::TICK</h1>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Different navigation if login or not -->
  <% if user_signed_in? %>
    <h5><%= current_user.username %></h5>
      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

        <div class="dropdown">
          <%= current_user.username %>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

  <% else %>

    <!-- if user is not signed in -->
  <div class="navbar-wagon-item">
    <div class="navbar-signup">
      <%= link_to "Sign-in", "#login", "data-toggle" => "modal"%>
      |
      <%= link_to " Sign-up", "#logup", "data-toggle" => "modal"%>
    </div>
  </div>
  <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
  <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" id="hamburger">
    <li><%= link_to "HACKERNEWS", hackernews_path %></li>
    <li><%= link_to "TECHCRUNCH", techcrunches_path %></li>
    <li><%= link_to "TECHMEME", techmemes_path  %></li>
    <li><%= link_to "LE WAGON", lewagon_path %></li>
  </ul>

  </div>
  <% end %>
</div>

