<div class="modal fade " id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <div class="text-center">
          <h2>STACK |: :| TICK</h2>
          <h3>SIGN[IN]</h3>
        </div>
      </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-x-12" id="login-modal-background">
      <div class="modal-body">
        <div class="form-login">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-field-email">
              <%= f.email_field(:email, placeholder: "ENTER EMAIL", autofocus: true, class: "form-field") %>
            </div>
            <div class="form-field-password">
              <%= f.password_field(:password, placeholder: "ENTER PASSWORD", autocomplete: "off")  %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="field remember-box">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me%>
              </div>
              <div class="card" id="logbuttons">
                <%= f.submit "LOG[IN]", class: "login-button"%>
            <% end -%>
                <%= render "devise/shared/links" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

        </div>
  </div>
</div>


