<div class="modal fade " id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <%= image_tag "plume.png" %>
        <div class="text-center">
          <h3>My Little Big Blog</h3>
          <p>Sign in to comment and connect with other readers</p>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-login">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.email_field(:email, placeholder: "Email", autofocus: true, class: "form-field") %>
                </div>
                <div class="field">
                  <%= f.password_field(:password, placeholder: "password", autocomplete: "off")  %>
                </div>
                <% if devise_mapping.rememberable? -%>
                  <div class="field remember-box">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me%>
                  </div>
                <% end -%>
                <div class="actions">
                  <%= f.submit "Log in", class: "btn btn-primary login-button"%>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


